<div class="card col-xs-12" >
    <img class="card-img-top"  [src]="sitefeed.exteralpath" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{sitefeed.userdescriptionShot}}</h5>
      <p class="card-text">{{sitefeed.post}} </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  <hr>