<!-- <div class="container-fluid"> -->
  <nav class="navbar navbar-expand-md navbar-light bg-light">

      <div class="container-fluid">
            <a href="/" class="navbar-brand">Brand</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar5">
               <span class="navbar-toggler-icon"></span>
           </button>
            <div class="navbar-collapse collapse justify-content-stretch" id="navbar5">
                    <form class="ml-3 my-auto d-inline w-50">
                            <div class="input-group">
                              <input type="text" class="form-control border-right-0" placeholder="Search for Candidates and Petition"> 
                              <div class="input-group-append">
                                <button class="btn btn-outline-primary border-left-0" type="button">Find</button>
                              </div>
                            </div>
                        </form>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item routerLinkActive='active'">
                        <a class="nav-link" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item routerLinkActive='active'">
                        <a class="nav-link" routerLink="/candidates">Candidates</a>
                    </li>
                    <li class="nav-item routerLinkActive='active'">
                        <a class="nav-link" routerLink="/petitions">Petitions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">My Contribution</a>
                    </li>
                </ul>
 
            </div>



      </div>
   
</nav>
<!-- </div> -->

<!-- https://medium.com/wdstack/bootstrap-4-custom-navbar-1f6a2da5ed3c -->