<div class="mx-auto ">
 

<!-- https://mdbootstrap.com/components/cards/ -->
<div class="card shadow p-1 mb-4 ">

    <!-- Bacground color -->
    <div class="card-up indigo lighten-1">
    </div>

    <!-- Avatar -->
    <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">
    </div>

    <div class="card-body testimonial-card">
        <!-- Name -->
        <h4 class="card-title">Anna Doe</h4>
        <hr>
        <!-- Quotation -->
        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
    </div>

</div>


<div class="card shadow p-1">
    <div class="card-header">
      Featured
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>

</div> 
